
@media (max-width: 900px) {
section{
	width:100%;
	height:100%;
}

#cardH{
	 margin: 0 auto;
	 width: 250px;
	 height: 30rem;
	 background: red;
       
}

}
@media (max-width: 600px){
	
	#cardH{
	 margin: 0 auto;
     width: 200px;
	 height: 31rem;
	 background: red
}
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: center;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  position: center;
}
	a{
	visibility: hidden;
}
#logi{
	float: left;
}
}